absl-py==2.1.0
annotated-types==0.7.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
azure-ai-ml==1.17.1
azure-common==1.1.28
azure-core==1.30.2
azure-identity==1.17.1
azure-mgmt-core==1.4.0
azure-storage-blob==12.20.0
azure-storage-file-datalake==12.15.0
azure-storage-file-share==12.16.0
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
dataclasses-json==0.6.7
datasets==2.20.0
dill==0.3.8
dnspython==2.6.1
docarray==0.40.0
email_validator==2.2.0
et-xmlfile==1.1.0
faiss==1.8.0
faiss-cpu==1.8.0
fastapi==0.111.1
fastapi-cli==0.0.4
ffmpy==0.3.2
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.5.4
google-api-core==2.19.1
google-auth==2.32.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
gradio==4.41.0
gradio_client==1.3.0
grpcio==1.64.1
gunicorn==23.0.0
h5py==3.11.0
httptools==0.6.1
huggingface_hub==0.23.3
importlib_resources==6.4.0
inflection==0.5.1
isodate==0.6.1
jsonpatch==1.33
jsonpointer==2.1
jupyter_core==5.7.2
keras==3.4.1
keras-nightly==3.3.3.dev2024061303
langchain==0.2.7
langchain-community==0.2.7
langchain-core==0.2.16
langchain-openai==0.1.15
langchain-text-splitters==0.2.1
langsmith==0.1.77
libclang==18.1.1
marshmallow==3.21.3
mizani==0.11.4
ml-dtypes==0.3.2
msal==1.29.0
msal-extensions==1.2.0
msrest==0.7.1
multiprocess==0.70.16
munkres==1.1.4
namex==0.0.8
oauthlib==3.2.2
openai==1.34.0
openapi==1.1.0
opencensus==0.11.4
opencensus-context==0.1.3
opencensus-ext-azure==1.1.13
opencensus-ext-logging==0.1.1
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.4
packaging==23.2
patsy==0.5.3
plotnine==0.13.6
ply==3.11
portalocker==2.10.0
proto-plus==1.24.0
protobuf==3.20.3
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1-modules==0.2.8
pydantic==2.8.2
pydantic_core==2.20.1
pydash==8.0.1
PyDispatcher==2.0.5
pydub==0.25.1
pyls-spyder==0.4.0
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
PyPDF2==3.0.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
python-multipart==0.0.9
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
ruff==0.5.2
safetensors==0.4.3
semantic-version==2.10.0
shellingham==1.5.4
starlette==0.37.2
streamlit==1.35.0
strictyaml==1.7.3
tavily-python==0.3.4
tb-nightly==2.18.0a20240613
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.4.0
textblob==0.18.0.post0
tf-nightly==2.18.0.dev20240613
tiktoken==0.7.0
tokenizers==0.19.1
tomlkit==0.12.0
tqdm==4.66.4
transformers==4.43.3
typer==0.12.3
types-requests==2.32.0.20240602
typing-inspect==0.9.0
uvicorn==0.30.1
uvloop==0.19.0
watchfiles==0.22.0
webencodings==0.5.1
websockets==11.0.3
xxhash==3.4.1
